/**.icons{
    font-weight: normal;
    background: transparent;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
}**/

.icons{
    padding: 15px 150px;
}

.bicon{
    padding: 50px 100px 100px 100px;
}

